<button (click)="setVisible()">
  {{visible ? 'Hide':'Show'}}
</button>

@if (visible) {
  <h2>{{title}}</h2>
  @if (users != undefined && users.length > 0) {
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
         <tr>
          <td>{{$index+1}}</td>
          <td>{{user}}</td>
        </tr>
      }    
    </tbody>
  </table>
  }
  @else {
    <p>
      Register doesn't exist
    </p>
  }


}
@else {
  <h2>Sorry page not available</h2>
}

<app-counter></app-counter>

<!-- <div *ngIf="visible else notEnabled">

  <h2>{{title}}</h2>

  <table *ngIf="(users != undefined && users.length > 0) else isEmpty">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <td>{{i+1}}</td>
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #isEmpty>
    <div>
      Register doesn't exist
    </div>
  </ng-template>
</div>
<ng-template #notEnabled>
  <h2>Sorry page not available</h2>
</ng-template> -->